<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo,  crop: :fill %>')">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="text-center">
  <%= link_to "Back", cocktails_path, class: "btn btn-secondary"%>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary"%>
  <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-secondary"%>
</div>

<!-- height: 300, width: 400, -->
